body {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 10px;
  white-space: nowrap;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 325px;
}
#queryEnter{
  width: 83%; 
}
#queryName{
  width: 100%; 
  height: 38px;
}